<% provide(:title, "#{@todo.id}")%>
<%
    author = User.find_by(id: @todo[:user_id])
%>
<div class="todo-container">
    <div class="todo-item">

        <div class="todo-title">
            <h1> <%= @todo.title %> </h1>
        </div>
        <div class="todo-desc">
            <p> <%= @todo.description %> </p>
        </div>
        <div class="todo_creator">
            <p><b>Created by: </b> <%= author.username %> </p>
        </div>
    </div>
</div>
