<% provide(:title, "#{@todo.id}")%>

<div class="todo-container">
    <div class="todo-item">

        <div class="todo-title">
            <h1> <%= @todo.title %> </h1>
        </div>
        <div class="todo-desc">
            <p> <%= @todo.description %> </p>
        </div>
    </div>
</div>
