
@import "bootstrap";
//Comman css
*{
    margin: 0;
    padding: 0;
}

html, body{
    height:100%;
}
.delete-btn, .update-btn, .show-btn{
    text-decoration: none;
    color: #595252;
    font-weight: 700;
}
.delete-btn, .update-btn, .show-btn:hover{
    cursor: pointer;
}

// table css
.table-heading{
    margin-top:30px;
    text-align: center;
}
.todos_table{
    width: 96%;
    margin:auto;
    margin-top: 10px;
    .todo_desc{
        width:40%;
    }
    .pending-action{
        padding-left: 151px;
    }
    .completed-action{
        padding-left: 100px;
    }
    .action-item{
        padding-left:20px;
    }
    .mark-completed{
        padding-left: 16px;
    }
}


// Debug message
.debug_dump{
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
    width: 40%;
    border-radius: 11px;
    padding: 20px;
    margin: auto;
    background-color: azure;
    margin-bottom: 200px;
}

//flash-message
.flash_message{
    margin-top: 20px;
    padding-top: 10px;
    font-size: large;
    font-weight: 500;
    text-align: center;
}


// 404


  // users listing
.users_table{
    .show-btn{
    text-decoration: none;
    color: #595252;
    font-weight: 700;
    }
}


.alert-danger{
    text-align: center;
}