
@import "bootstrap";


.table-heading{
    margin-top:30px;
    text-align: center;
}
.todos_table{
    width:70%;
    margin:auto;
    margin-top: 10px;
    .todo_desc{
        width:40%;
    }
    .action{
        padding-left:75px;
    }
    .action-item{
        padding-left:20px;
        .delete-btn, .update-btn, .show-btn{
            text-decoration: none;
            color: #595252;
            font-weight: 700;
        }
    }
    .delete-btn, .update-btn, .show-btn:hover{
        cursor: pointer;
    }
    .mark-completed{
        padding-left: 16px;
    }
}

// new todo form 
.form-container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    height: 35vh;
    margin-top: 20px;
    .todo_heading{
        text-align: center;
    }
    .new_todo_form{
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
        border-radius: 8px;
        padding: 30px;
        background-color: #fff;
        margin:0 16px;
        margin-top: 30px;
        height: 40vh;
    }
    .title_input{
        input{
            height: 40px;
            padding: 0 10px;
            width: 221px;
        }
        .title_label{
            margin-right:61px;
        }
    }   
    .desc_input{
        textarea{
            resize: none;
            height: 40px;
            width:221px;
            padding-left: 10px;
            padding-top: 6px;
        }
        .desc_label{
            position: relative;
            top: -14px;
            margin-right: 10px;
        }
    }   
    .submit_btn{
        input{
            margin: 0 102px;
            
        }
        
    }
}

// Show todo
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    .todo-item{
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
        border-radius: 8px;
        background-color: #fff;
        margin:0 16px;
        width:40%;
        padding:30px;
        padding-top: 13px;
        height: 30vh;
        overflow: auto;
        margin-top: 90px;
        span{
            margin-left: 10px;
        }
        .todo-title{
            text-align: center;
        }
        .todo-desc{
            padding-top:21px;
        }
    }

}

// todo navigation
.todo_nav{
    color:white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
    #todo_logo{
        font-size: 36px;
        font-weight: 600;
        font-family: cursive;
        width: 50%;
        padding-left: 50px;
        .nav_link{
            text-decoration: none;
            color: currentColor;
        }
    }
    .nav_link_list{
        width:50%;
        display: flex;
        justify-content: space-around;
        padding-top: 12px;
        font-size: 20px;
        font-weight: 600;
        font-family: revert;
        li{
            list-style: none;
        }
        .nav_link{
            text-decoration: none;
            color: currentColor;
        }
    }
}


// Debug message
.debug_dump{
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
    width: 40%;
    border-radius: 11px;
    padding: 20px;
    margin: auto;
    background-color: azure;
    margin-bottom: 200px;
}

//flash-message
.flash_message{
    margin-top: 20px;
    padding-top: 10px;
    font-size: large;
    font-weight: 500;
    text-align: center;
}