.todo-detail{
    display: flex;
    justify-content: center;
    align-items: center;
    .todo-item{
        box-shadow: 0 2px 4px 2px rgba(0, 0, 0, .1);
        border-radius: 8px;
        background-color: #fff;
        margin:0 16px;
        width:60%;
        padding:30px;
        padding-top: 13px;
        overflow: auto;
        margin-top: 90px;
        span{
            margin-left: 10px;
        }
        .todo-title{
            text-align: center;
        }
        .todo-desc{
            padding-top:21px;
        }
        hr{
            margin-top: 0;
        }
    }

}