<header class="todo_nav">
    <div class="todos_logo" id="todo_logo">
        <%= link_to "Todo List", root_path , class: "nav_link" %>
    </div>
    <ul class="nav_link_list">
    <li> <%= link_to "Home", root_path , class: "nav_link" %> </li>
    <li> <%= link_to "Create new todo", todos_new_path , class: "nav_link"%> </li>
    </ul>
</header>